@tailwind base;
@tailwind components;
@tailwind utilities;

/* App tokens */
:root {
  --bg-elev: 255 255 255;
  --bg-app: 250 250 250;
}
.dark {
  --bg-elev: 24 24 27;
  --bg-app: 9 9 11;
}

.app-surface {
  @apply bg-[rgb(var(--bg-app))] text-zinc-900 dark:text-zinc-100 dark:bg-[rgb(var(--bg-app))];
}
.elevated {
  @apply bg-[rgb(var(--bg-elev))] dark:bg-[rgb(var(--bg-elev))] shadow-ring;
}
